.NationalCases,
.MostImpacted,
.QueryForm {
  text-align: center;
  margin: 80px;
  padding: 30px;
  background-color: #D87B7D;
  color: white;
  vertical-align: middle;
}

.top-row {
  display: flex;
  justify-content: space-around;
}

.NationalCases,
.MostImpacted {
  display: inline-block;
  height: 250px;
  width: 30%;
}

textarea {
  width: 30%;
  height: 150px;
}

button {
    background-color: white;
    border-color: #151E3F;
    color: #151E3F;
}

button:hover {
  background-color: #151E3F;
    border-color: white;
    color: white;
}

.table {
    background-color: white;
}
